.statusHeader {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
}

.pathHeader {
  margin: 0.5rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 300;
  color: #646464;
}

.blockWrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  padding: 0.8rem;

  border-radius: 24px;
  background-color: #e9ecef;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }
}

.image {
  width: 100%;
  aspect-ratio: 1/1;

  border-radius: 23px;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;

  aspect-ratio: 1/1;
  overflow: auto;

  border-radius: 24px;

  &__section {
    padding: 0.8rem;

    border-radius: 24px;
    font-weight: 700;
    background-color: #dee2e6;
  }

  @media (max-width: 767px) {
    grid-column: 1 / span 2;

    aspect-ratio: unset;
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;

  aspect-ratio: 1/1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d3d4dd transparent;

  border-radius: 24px;

  @media (max-width: 1200px) {
    aspect-ratio: unset;
    grid-column: 1 / span 2;
  }
}

.title {
  padding: 0 0.8rem;

  &__text {
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: #d3d4dd transparent;
    padding: 0.8rem 0;

    @media (max-width: 767px) {
      white-space: unset;
    }
  }
}

.description {
  position: relative;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #d3d4dd transparent;
  font-weight: 300;
}

.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 0.3rem;
}

.button {
  text-align: center;

  width: calc(50% - 0.4rem);
  padding: 0.7rem;

  border-radius: 24px;
  font-weight: 700;
  color: #fff;
  transition: transform 0.3s ease-out;

  white-space: nowrap;

  &:active {
    transform: scale(0.95);
  }

  @media (max-width: 425px) {
    width: 100%;
  }

  &--buy {
    right: 0.5rem;
    background-color: #212529;
  }

  &--cart {
    display: flex;
    justify-content: center;
    gap: 0.5rem;

    background-color: #343a40;

    span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0.5rem 0.7rem;

      border-radius: 50%;
      background-color: #fff;
      color: #000;

      i {
        position: absolute;
        font-size: 0.8rem;
      }
    }
  }
}
