.wrapper {
	margin: 1rem 0;
	display: flex;
	column-gap: 0.5rem;
}

.filterBlock {
	position: relative;
}

.button {
	position: relative;
	display: flex;
	column-gap: 0.2rem;

	white-space: nowrap;
	width: max-content;

	padding: 0.3rem;
	font-size: 0.8rem;

	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

	z-index: 8;

	&:hover {
		.button__arrow {
			opacity: 1;
		}
	}

	&--active {
		.button__arrow {
			transform: rotate(180deg);
		}
	}

	&__arrow {
		width: 1rem;
		min-width: 1rem;

		opacity: 0.5;
		transition: transform 0.3s ease-out, opacity 0.2s ease-out;
	}

	&__icon {
		width: 1rem;
	}
}

.filterCount {
	position: absolute;
	top: -5px;
	right: -5px;

	padding: 8px;

	background-color: #808080;

	border-radius: 50%;

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		font-size: 0.5rem;
		color: #fff;
	}
}

.filterMenu {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 0.5rem;

	min-width: 8rem;
	width: max-content;
	padding: 0.8rem;
	border-radius: 8px;

	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background-color: #fff;

	z-index: 8;

	&__overlay {
		position: fixed;
		left: 0;
		top: 0;

		width: 100%;
		height: 100%;

		z-index: 7;
	}
}

.allFilters {
	z-index: 10;

	&__icon {
		width: 1rem;
	}

	&__button {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 0.2rem;

		padding: 0.3rem;

		border-radius: 8px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

		font-size: 0.8rem;
	}

	&__overlay {
		@extend .filterMenu__overlay;

		background-color: #242424;
		opacity: 0.3;

		z-index: 9;
	}
}
