.wrapper {
  --paddingX: 1.5rem;
  --paddingY: 1rem;

  position: fixed;
  right: 0;
  top: 0;

  width: 320px;
  height: 100%;

  padding: var(--paddingY) var(--paddingX);
  padding-right: 0;

  background-color: #fff;

  transition: right 0.3s ease-out;

  z-index: 10;

  display: flex; // needed for the filters scrollbar to work
  flex-direction: column;

  justify-content: space-between;

  @media (max-width: 1023px) {
    width: 100%;

    transition-duration: 0.2s;
  }
}

.header {
  display: flex;
  justify-content: space-between;

  margin-right: var(--paddingX);
  margin-bottom: var(--paddingY);

  &__text {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &__button {
    display: flex;

    &-icon {
      width: 1.3rem;

      opacity: 0.5;

      transition: opacity 0.1s ease-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.filters {
  display: grid;
  row-gap: 1.5rem;

  overflow-y: auto;
  scrollbar-color: #d3d4dd transparent;
  scrollbar-width: thin;

  padding-right: var(--paddingX);
  padding-bottom: 1.5rem;

  margin-bottom: auto;
}

.filter {
  display: grid;
  row-gap: 0.5rem;
}

.configButtons {
  position: relative;
  bottom: 0;

  margin-left: calc(var(--paddingX) * -1);
  width: calc(100% + var(--paddingX));
  padding: var(--paddingY) var(--paddingX);
  margin-bottom: calc(var(--paddingY) * -1);

  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);

  text-align: center;

  &__quantity {
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;

    font-size: 0.8rem;
    color: #808080;
  }
}

.nameAndReset {
  display: flex;
  column-gap: 13px;

  &__button {
    border-bottom: 1px dashed;
    color: #646464;

    &:hover {
      color: #000;
    }
  }
}
