.wrapper {
  margin: 0.8rem;
}

.header {
  overflow-wrap: break-word;
  word-break: break-word;

  font-size: 1.4rem;
  font-weight: 600;
}

.statusHeader {
  @extend .header;

  max-width: 80%;
  margin: 1rem auto;
  text-align: center;
}
