.wrapper {
	display: flex;
	column-gap: 0.3rem;
	font-size: 0.8rem;
}

.button {
	width: 100%;
	padding: 7px 0;

	text-align: center;

	border-radius: 8px;
	background-color: #f1f1f5;
	transition: all 0.2s ease-out;

	&:hover {
		background-color: #e8e8f0;
	}

	@media (max-width: 1023px) {
		height: 2.5rem;
	}
}
